body {
    padding-top: 100px; /* Altezza dell'header */
    padding-bottom: 40px; /* Altezza del footer */
}

.register-link {
    color: #007bff; /* Colore del link */
}

.register-link:hover {
    text-decoration: underline;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px; /* Altezza dell'header */
    background-color: #343a40; /* Colore di sfondo */
    padding: 20px 0; /* Spazio interno */
    text-align: center;
    color: #ffffff; /* Colore del testo */
    font-size: 36px; /* Dimensione del testo */
}
/* Stile per il testo "G_ESQL" */
header p {
    background-color: #007bff; /* Colore di sfondo blu */
    padding: 10px 20px; /* Spazio interno */
    border-radius: 5px; /* Bordo arrotondato */
    display: inline-block; /* Impostazione del display a "inline-block" */
    position: absolute; /* Posizione assoluta */
    top: 50%; /* Metà della altezza dell'header */
    left: 50%; /* Metà della larghezza dell'header */
    transform: translate(-50%, -50%); /* Sposta di -50% della propria larghezza e altezza */
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /* Altezza del footer */
    background-color: #d5d2d2; /* Colore di sfondo */
    padding-top: 20px; /* Spazio interno */
    text-align: center;
}

.form-quesito{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.opzioni{
    display: flex;
    flex-direction: column;
}

img{
    width: 200px;
}
