<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G_ESQL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<!-- Utilizza JavaScript per tornare alla pagina precedente -->
    <button class="btn btn-primary back-button" onclick="goBack()"><i class="fas fa-arrow-left"></i> Indietro</button>

    <header>
        <div class="container">
            <p>G_ESQL</p>
        </div>
    </header>

    <!-- JavaScript per tornare alla pagina precedente -->
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</body>
</html>